[submodule "next-server"]
	path = crates/next-server
	url = https://github.com/bottlesdevs/next-server.git
[submodule "next-cli"]
	path = crates/next-cli
	url = https://github.com/bottlesdevs/next-cli.git
[submodule "next-winebridge"]
	path = crates/next-winebridge
	url = https://github.com/bottlesdevs/next-winebridge.git
[submodule "next-core"]
	path = crates/next-core
	url = https://github.com/bottlesdevs/next-core.git
[submodule "next-docs"]
	path = crates/next-docs
	url = https://github.com/bottlesdevs/next-docs.git
[submodule "crates/next-config"]
	path = crates/next-config
	url = https://github.com/bottlesdevs/next-config.git
[submodule "crates/download-manager"]
	path = crates/download-manager
  	url = https://github.com/bottlesdevs/download-manager.git
[submodule "crates/fvs2-rs"]
	path = crates/fvs2-rs
	url = https://github.com/bottlesdevs/fvs2-rs.git
[submodule "crates/next-proto"]
	path = crates/next-proto
	url = https://github.com/bottlesdevs/next-proto.git
[submodule "crates/http-client"]
	path = crates/http-client
	url = https://github.com/bottlesdevs/http-client.git
[submodule "crates/next-ui"]
	path = crates/next-ui
	url = https://github.com/bottlesdevs/next-ui.git
[submodule "crates/next-plugin-host"]
	path = crates/next-plugin-host
	url = https://github.com/bottlesdevs/next-plugin-host.git
[submodule "crates/next-plugin-api"]
	path = crates/next-plugin-api
	url = https://github.com/bottlesdevs/next-plugin-api.git
