[submodule "next-server"]
	path = crates/next-server
	url = https://github.com/bottlesdevs/next-server
[submodule "next-cli"]
	path = crates/next-cli
	url = https://github.com/bottlesdevs/next-cli
[submodule "next-winebridge"]
	path = crates/next-winebridge
	url = https://github.com/bottlesdevs/next-winebridge
[submodule "next-core"]
	path = crates/next-core
	url = https://github.com/bottlesdevs/next-core
[submodule "next-docs"]
	path = crates/next-docs
	url = https://github.com/bottlesdevs/next-docs
[submodule "crates/next-config"]
	path = crates/next-config
	url = https://github.com/bottlesdevs/next-config.git
[submodule "crates/download-manager"]
	path = crates/download-manager
  url = https://github.com/bottlesdevs/download-manager.git
